//rewrite bootstrap default styles... and extensions



legend {
	border: medium none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}


.form-group {

    &-inline {
        display: inline-block;
         &:extend(.clearfix all);
         margin-right: 15px;
         label {
             display: inline-block;
         }
        input, select {
            display:inline-block;
            width: auto;
        }
    }
}
