/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_square-blue,
.iradio {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
	margin: 0 4px;
	input {
		left: -9999px;
	}	
	.awesomeFa();
	border: 1px solid #d2d2d2;
	width: 22px;
	height: 22px;
	border-radius: 3px;
	&:before {
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 3px;
	}
	&.hover {
		box-shadow: 0 0 1px rgba(0,0,0, 0.2);
	}
}

.icheckbox_square-blue.checked {
	&:before {
		content: @fa-var-check;
		color: blue;
	}
}
.icheckbox_square-blue.disabled {
	cursor: default;
	background: #d2d2d2;
}
.icheckbox_square-blue.checked.disabled {
	&:before {
		color: gray;
	}
}

.iradio {
	border-radius: 50px;
	&:before {
		font-size: 10px;
		top: 5px;	
	}
}
.iradio.checked {
	&:before {	
		content: @fa-var-circle;
		color: blue;
	}
}
.iradio.disabled {
	cursor: default;
	background: #d2d2d2;
}
.iradio.checked.disabled {
	&:before {
		color: gray;
	}
}

.selfremove {
	.icheckbox_square-blue {
		display:none;
	}
}