/*======================================
  Selectric v1.9.2
======================================*/
.selectric-wrapper {
	position: relative;
	//margin: 0 0 10px;
	cursor: pointer;
	display:inline-block;
	vertical-align: middle;

	&.selectric-block {
		display: block;
	}
}

.selectric-responsive {
  width: 100%;
}

.selectric {
	border: 1px solid @input-border;
	background: @input-bg;
	position: relative;
	border-radius: @input-border-radius;
	height: @input-height-base;
	display:inline-block;
	width: 100%;
	text-align: left;
	.selectric-block & {
		display:block;
	}
}
.selectric .label {
	font-weight: normal;
	font-size: 14px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 30px 0 0;
	padding: 6px;
	line-height: 26px;
	color: @input-color;	
	min-height: 18px;
}
.selectric .button {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 40px;
	color: #BBB;
	text-align: center;
	font: 0/0 a;
	/* IE Fix */
	*font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left-width: 4px;
	border-right-width: 4px;
	border-top-color: #666666;
	border-bottom: none;
}

.selectric-hover .selectric {
	border-color: #CCC;
}
.selectric-hover .selectric .button {
  color: #888;
}
.selectric-hover .selectric .button:after {
	border-top-color: #888;
}

.selectric-open {
  z-index: 9999;
}
.selectric-open .selectric {
  border-color: #C4C4C4;
}
.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  border: 1px solid #C4C4C4;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
  text-align: left;
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}
.selectric-items li {
  display: block;
  padding: 8px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #EEE;
  color: #666;
  cursor: pointer;
}
.selectric-items li.selected {
  background: #EFEFEF;
  color: #444;
}
.selectric-items li:hover {
  background: #F0F0F0;
  color: #444;
}
.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}



.border-clean {
	.selectric {
		background: none;
		border-radius: 3px;
		&:hover {
			border-color: #aaa;
			.button:after {
				border-top-color: #aaa;
			}
		}

	}
}

.selectric-wrapper.inline {
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 0;
	margin-left: 5px;
}


//other  customs tpl

.btn-control.selectric-wrapper {
	margin-bottom: 0;		
	.selectric {
		background: none;
		border: none;		
		.label {
			color: #fff;
		}
		.button {
			&:after {
				border-top-color: #fff;
			}
		}
	}
}

.transparent-primary.selectric-wrapper {
	margin-bottom: 0;		
	.selectric {
		background: none;
		border: none;		
		height: auto;
		.label {
			padding: 0;
			height: 30px;
			color: @primary-color;
		}
		.button {
			height: 30px;
			&:after {
				border-top-color: @primary-color;
			}
		}
	}
}