﻿@model BudgetPilot01.Models.EditUsersProfile

@{
    ViewBag.Title = "ChangeProfile";
}

<section class="content-header">
    <h1>
        ChangeProfile: @Model.Nick
    </h1>
</section>


<section class="content">
    <div class="box ">
        <div class="box-header with-border"><h3 class="box-title">Edit your Informations</h3></div>
        <div class="box-body">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nick, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nick, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nick, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StartingBudget, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartingBudget, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StartingBudget, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.CurrencyIdentificator, new { @class = "control-label  col-md-2" })
                         <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CurrencyIdentificator, new SelectList(ViewBag.Currency, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-7">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn bg-red" href="@Url.Action("Index","Manage")">Cancel</a>
                        </div>
                    </div>
                </div>
            }

            <div>
               
            </div>
         </div>
    </div>
</section>
      
