﻿@model BudgetPilot01.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<section class="content">
    <div class="box ">
        <div class="box-header with-border"><h3 class="box-title">@ViewBag.Title</h3></div>
        <div class="box-body">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="btn btn-primary" />
                        <a class="btn bg-red" href="@Url.Action("Index","Manage")">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



        
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
