﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/assets/frontend/css/cqb-patternlab-frontend.css" type="text/css" />
    </head>



<body class="skin-yellow sidebar-min">

    <div class="wrapper">
        <header class="main-header">
        @if (Request.IsAuthenticated)
        {
            <!-- Logo -->
            <a href="@Url.Action("Index", "Transactions")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>B</b>P</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">@DateTime.Now.Year <b>Budget</b>Pilot</span>                
            </a>
        }
        else
        {
                <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>B</b>P</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">@DateTime.Now.Year <b>Budget</b>Pilot</span>
            </a>
        }
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav"> 
                        <!-- User Account: style can be found in dropdown.less -->
                         @Html.Partial("_LoginPartial")                     
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                @Html.Partial("_NavigationContent")
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            @RenderBody()

        </div>

        <script>
            var __lang = {
                "common.cookieDisclaimer.message": "Web používá cookie...",
                "common.cookieDisclaimer.dismiss": "Souhlasím!",
                "common.cookieDisclaimer.learnMore": "Více informací"
            };
            function getLangText(text) {
                return __lang[text];
            }
        </script>

























        @Scripts.Render("~/bundles/frontend")

        @RenderSection("scripts", required: false)
</body>
</html>
