﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

     


        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="http://woottext.com/woot/wp-content/uploads/2011/10/user-thumb.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs">@Html.Name(User.Identity.GetUserName())  </span>
            </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                    <img src="http://woottext.com/woot/wp-content/uploads/2011/10/user-thumb.jpg" class="img-circle" alt="User Image">
                    <p>
                        @Html.Name(User.Identity.GetUserName())                       
                    </p>
                </li>
                <!-- Menu Body -->
                <!-- Menu Footer-->
                <li class="user-footer">

                    <div class="pull-left">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                               @Html.AntiForgeryToken()
                               @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Profile", @class = "btn btn-default btn-flat" })
                            }
                    </div>
   
                    <div class="pull-right">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>

                    </div>
                </li>
            </ul>
        </li>



        
  
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}




