﻿<ul class="sidebar-menu">

    @if (Request.IsAuthenticated)
    {

        <li>
            <a href="@Url.Action("Index", "Transactions")">
                <i class="fa fa-credit-card" aria-hidden="true"></i> <span>Transactions</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("PernamentTransactions", "Transactions")">
                <i class="fa fa-calendar" aria-hidden="true"></i> <span>Permanent transactions</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
        </li>
    }
    else
    {
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-home" aria-hidden="true"></i> <span>Home</span>
            </a>
        </li>
    }
    <li>
        <a href="@Url.Action("About", "Home")">
            <i class="fa fa-question-circle" aria-hidden="true"></i> <span>About app</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Contact", "Home")">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Contact</span>
        </a>
    </li>
</ul>

