﻿@model IEnumerable<BudgetPilot01.Models.TransactionDetailVM>

@{
    var account = ViewBag.Account as BudgetPilot01.Models.Accountant;
}


<div class="box">
    <div class="box-header with-border"><h3 class="box-title">Month overview</h3></div>
    <div class="box-body">
        <div class="row">

            <div class="col-md-4">
                <p></p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Incomes</td>
                            <td class="text-green text-bold">+@account.MonthIncomeBalanceFormated</td>
                        </tr>
                        <tr>
                            <td>Outcomes</td>
                            <td class="text-red text-bold">-@account.MonthOutcomeBalanceFormated</td>
                        </tr>
                        <tr>
                            <td>Balace</td>
                            <td class="text-italic">@account.MonthBalanceFormated</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Your Budget</th>
                            <td class="text-bold">@account.SummaryBalanceFormated</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-4">
                <p><b>Incomes/Outcomes</b></p>
                <canvas id="ioChart"></canvas>
            </div>

            <div class="col-md-4">
                <p><b>Periodical/One-Time transactions</b></p>
                <canvas id="periodicalChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-border">
            <div class="box-header "><h3 class="box-title">Transactions</h3></div>
            <div class="box-body">
                <table id="example1" class="table table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Created)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Count)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>

                        <th>
                            Action
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>

                            <td>
                                @if (item.IsIncome)
                                {
                                    <span class="text-green text-bold">+ @Html.DisplayFor(modelItem => item.Count, new { @class = "text-green text-bold" })</span>
                                }

                                else
                                {
                                    <span class="text-red text-bold">- @Html.DisplayFor(modelItem => item.Count) </span>
                                }

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Ajax.ActionLink(
                               linkText: "Delete",
                               actionName: "RemoveSelectedTransaction",
                               controllerName: "Transactions",
                               routeValues: new { id = item.TransactionID },
                               ajaxOptions: new AjaxOptions()
                               {
                                   Confirm = "Do you want to delete this transaction?",
                                   AllowCache = false,
                                   HttpMethod = "DELETE",
                                   OnSuccess = "history.go(0)",
                                   OnFailure = "alert('Something went wrong!')"
                               },
                               htmlAttributes: new { @class = "btn bg-red btn-xs" })
                            </td>

                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>

<hr />




<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/MyCharts.js"></script>

<script>
            DrawChartIO("ioChart", @account.MonthIncomeBalance, @account.MonthOutcomeBalance);
            DrawChartPernament("periodicalChart", @account.NumberOfPeriodicalTransactions, @account.NumberOfNonPeriodicalTransactions);
</script>

