﻿@model BudgetPilot01.Models.PernamentTransactionCreateVM

@{
    ViewBag.Title = "Create Pernament Transaction";
}

<section class="content-header">
    <h1>
        Add new pernament transaction
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("PernamentTransactions", "Transactions")">Permanent transactions</a></li>
        <li class="active">Add new pernament transaction</li>
    </ol>
</section>


<section class="content">
    <div class="box ">
        <div class="box-header"></div>
        <div class="box-body">

            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                The period of permanent transactions is <strong> one month. </strong>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsIncome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.IsIncome, true, new { htmlAttributes = new { @class = "form-control"} }) Yes
                            @Html.RadioButtonFor(model => model.IsIncome, false, new { htmlAttributes = new { @class = "form-control" } }) No
                            @Html.ValidationMessageFor(model => model.IsIncome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryIdentificator, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CategoryIdentificator, new SelectList(ViewBag.Categories, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryIdentificator, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SendFirstTransaction, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CheckBoxFor(model => model.SendFirstTransaction, new { htmlAttributes = new { @class = "form-control" } }) 
                            Yes, add new transaction with this template
                            @Html.ValidationMessageFor(model => model.SendFirstTransaction, "", new { @selected = true, @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-7">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        <div class="col-md-3 text-right">
                            <a class="btn bg-yellow" href="@Url.Action("PernamentTransactions", "Transactions")">Back to list of transactions</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
  </section>