﻿@model BudgetPilot01.Models.TransactionCreateVM

@{
    ViewBag.Title = "Create";
}


<section class="content-header">
    <h1>
        Add new transaction
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("Index", "Transactions")">Transactions overview</a></li>
        <li class="active">Add new transaction</li>
    </ol>
</section>

<section class="content">
    <div class="box ">
        <div class="box-header"></div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsIncome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.IsIncome, true, new { htmlAttributes = new { @class = "form-control" } }) Yes
                            @Html.RadioButtonFor(model => model.IsIncome, false, new { htmlAttributes = new { @class = "form-control" } }) No
                            @Html.ValidationMessageFor(model => model.IsIncome, "", new { @class = "text-danger" })
                        </div>
                    </div>
             

                    <div class="form-group">
                        @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Created, new {  htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryIdentificator, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CategoryIdentificator, new SelectList(ViewBag.Categories, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryIdentificator, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-7">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        <div class="col-md-3 text-right">
                            <a class="btn bg-yellow" href="@Url.Action("Index", "Transactions")">Back to list of transactions</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
