﻿@model IEnumerable<BudgetPilot01.Models.Transaction>

@{
    ViewBag.Title = "Index";
    SelectList monthsItems = ViewBag.Months as SelectList;
}


<section class="content-header">
    <h1>
        Transactions overview
        <small>for get focus on your cashflow</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Transactions overview</li>
    </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border"><h3 class="box-title">Select Period</h3></div>
                <div class="box-body">

                    <div class="col-md-5">
                    @using (Ajax.BeginForm("TransactionOverview", "Transactions", new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "Overview",
                HttpMethod = "GET",
                AllowCache = false
            }, htmlAttributes: new { @class = "form-inline" }))
            {
                        <div class="form-group form-group-inline">

                            @Html.Label("Month:")

                            @Html.DropDownList("Month", (SelectList)ViewBag.Months, "Select Month", htmlAttributes: new { @class = "form-control" })


                        </div>

                        <div class="form-group form-group-inline">

                            @Html.Label("Year:")

                            @Html.DropDownList("Year", (SelectList)ViewBag.Years, htmlAttributes: new { @class = "form-control" })


                        </div>

                        <div class="form-group form-group-inline">
                            <button class="btn btn-primary">Filter</button>
                        </div>
                    }
                    </div>
                    <div class="col-md-7 text-right">

                        <p>
                            <a href="@Url.Action("CreateNewTransaction", "Transactions")" class="btn btn-default m-r-10 m-b-10" data-toggle="modal"><i class="fa fa-plus-circle m-r-10" aria-hidden="true"></i> Add transaction</a>
                            <a href="@Url.Action("CreateNewPernamentTransaction", "Transactions")" class="btn btn-default m-b-10" data-toggle="modal"><i class="fa fa-plus-circle m-r-10 " aria-hidden="true"></i> Add permanent transaction</a>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div id="Overview">@Html.Action("TransactionOverview")</div>

   </section>
    @section scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
