﻿@model IEnumerable<BudgetPilot01.Models.PernamentTransactionDetailVM>

@{
    ViewBag.Title = "Your Pernament Transactions";
    int OneTimeCount = (int)ViewBag.OneTimeCount;
    int PernamentCount = (int)ViewBag.PernamentCount;

}

<section class="content-header">
    <h1>
        Pernament Transactions overview
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Pernament Transactions</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-md-6">

            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                The period of permanent transactions is <strong> one month. </strong>
            </div>

            <div class="box ">
                <div class="box-body">

                    <p>
                        <a href="@Url.Action("CreateNewPernamentTransaction", "Transactions")" class="btn btn-default m-b-10" ><i class="fa fa-plus-circle m-r-10 " aria-hidden="true"></i> Add permanent transaction</a>
                    </p>
 

                    <table id="example1" class="table table-condensed">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Count)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>

                            <th>Action</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Ajax.ActionLink(
                linkText: "Delete",
                actionName: "RemoveSelectedPernamentTransaction",
                controllerName: "Transactions",
                routeValues: new { id = item.Identificator },
                ajaxOptions: new AjaxOptions()
                {
                    Confirm = "Do you want to delete this pernament transaction?",
                    AllowCache = false,
                    HttpMethod = "DELETE",
                    OnSuccess = "history.go(0)",
                    OnFailure = "alert('Something went wrong!')"
                },

                htmlAttributes: new { @class = "btn btn-danger btn-xs" })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <canvas id="periodicalChart"></canvas>
            <script src="~/Scripts/Chart.js"></script>
            <script src="~/Scripts/MyCharts.js"></script>

            <script>

            DrawChartPernament("periodicalChart", @PernamentCount, @OneTimeCount);
            </script>
        </div>
    </div>
   
</section>



@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}