
{{>component-header}}
<section class="content-header">
    <h1>
        Transaction Categories
        <small>for customizing you transactions</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Categories</li>
    </ol>
</section>
<section class="content">

    <div class="row">
        <div class="col-md-5">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Add new category</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="name">Name of category</label>
                        <input type="text" class="form-control" id="name" placeholder="New category name" />
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Add new category</button>

                    </div>
                </div>



            </div>
        </div>
        <div class="col-md-7">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Categories</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Name</th>
                                <th class="text-right">Actions</th>

                            </tr>
                            {{#categories}}
                            <tr>
                                <td style="vertical-align:middle;">{{id}}</td>
                                <td style="vertical-align:middle;">{{name}}</td>
                                <td class="text-right" style="vertical-align:middle;">
                                    <a href="#" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                    <a href="#" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                </td>
                            </tr>
                            {{/categories}}

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
{{>component-footer}}

