
{{>component-header}}

<div class="row">

    <div class="col-md-6">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Change password</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <label for="current-password">Current password</label>
                        <input type="password" class="form-control" id="current-password" placeholder="Current password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="new-password">New password</label>
                        <input type="password" class="form-control" id="new-password" placeholder="New password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="retype">Retype new password</label>
                        <input type="password" class="form-control" id="retype" placeholder="Retype new password">
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>

{{>component-footer}}