
{{>component-header}}

<div class="row">

    <div class="col-md-6">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit user</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name" value="Josef Novak" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="josef.novak@pocemkamdes.cz" disabled />
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="currency">
                            <option selected value="czk">CZK</option>
                            <option value="eur">EUR</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <a href="#" class="btn btn-danger">Change password</a>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>

{{>component-footer}}