﻿<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../../assets/frontend/css/{{projectName}}-frontend.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly)
        <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
        <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

</head>
<body class="{{bodyClass}}">
    <div class="wrapper">
