
</div>
<script>
	var __lang = {
		"common.cookieDisclaimer.message": "Web používá cookie...",
		"common.cookieDisclaimer.dismiss": "Souhlasím!",
		"common.cookieDisclaimer.learnMore": "Více informací"
	};
	function getLangText(text) {
		return __lang[text];
	}
</script>

<script src="../../assets/frontend/js/cqb-patternlab-frontend.js?{{ cacheBuster }}"></script>
<!-- Generator - FootStart -->
  {{{ patternLabFoot }}}
<!-- Generator - FootEnd -->
  </body>
</html>
