

<div class="modal fade" id="transactionFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Transaction form</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name of transaction</label>
                <input type="text" class="form-control" id="name"/>
            </div>
            <div class="form-group">
                <label for="name">Date</label>
                <input type="text" class="form-control datepicker" id="date"/>
            </div>
            <div class="form-group">
                <label for="name">Count</label>
                <input type="text" class="form-control" id="count"/>
            </div>
            <div class="form-group">
                <label for="name">Category</label>
                <select class="form-control" name="currency">
                    <option selected value="0">--none--</option>
                    <option value="1">Domacnost</option>
                    <option value="2">Obleceni</option>
                </select>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
</div>