

<div class="modal transaction-form fade" id="transactionPermanentFormModal{{#edit}}-edit{{/edit}}{{#editSingle}}-single{{/editSingle}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Transaction permanent form</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Name of transaction</label>
                <input type="text" class="form-control" id="name"/>
            </div>
            {{^editSingle}}
            <div class="form-group">
                <label for="date-from">Date from</label>
                <input type="text"  {{#edit}} disabled {{/edit}} class="form-control datepicker" id="date-from"/>
            </div>
            <div class="form-group">
                <label for="date-to">Date to</label>
                <input type="text"  {{#edit}} disabled {{/edit}} class="form-control datepicker" id="date-to" />
            </div>
            <div class="form-group">
                <label for="period">Period</label>
                <select id="period" class="form-control" name="period" {{#edit}} disabled {{/edit}}>
                    <option value="1">1 week</option>
                    <option selected value="2">4 weeks</option>
                    <option value="3">Every day</option>
                </select>
            </div>
            {{/editSingle}}
            <div class="form-group">
                <label for="count">Count</label>
                <input type="text" class="form-control" id="count"/>
            </div>
            <div class="form-group">
                <label for="currency">Category</label>
                <select class="form-control" name="currency">
                    <option selected value="0">--none--</option>
                    <option value="1">Domacnost</option>
                    <option value="2">Obleceni</option>
                </select>
            </div>

            {{#edit}}
            <h2>Settings of permanent transactions</h2>
                {{^editSingle}}
                <div class="form-group">
                    <label>                    
                        <input checked type="radio" name="applyOn" value="1" />
                        Change settings permanent transactions for <span class="text-success">future transactions</span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="radio" name="applyOn" value="12" />
                        Change all transactions <span class="text-success">(past, future)</span>
</label>
                </div>
                {{/editSingle}}

                {{#editSingle}}
                <p>
                    <a href="#">Edit of permanent transaction</a>
                </p>
                {{/editSingle}}
            {{/edit}}
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
</div>