﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border"><h3 class="box-title">@ViewBag.Title</h3></div>
                <div class="box-body">

                    Please check your email to reset your password.

                </div>
            </div>
        </div>
    </div>

</section>

