﻿@model BudgetPilot01.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border"><h3 class="box-title">@ViewBag.Title</h3></div>
                <div class="box-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Type your email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Send email with reset password link" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
