﻿@using BudgetPilot01.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.ReturnUrl = @Url.Action("Index", "Transactions");
}

<div class="row">
    <div class="col-md-12">

        <div class="login-box">
            <div class="login-logo">
                <a href="/"><b>Budget</b>Pilot</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>


                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <input type="submit" value="Sign in" class="btn btn-primary btn-block btn-flat" />
                        </div>
                        <!-- /.col -->
                    </div>

                }
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                 <!--Enable this once you have account confirmation enabled for password reset functionality-->
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            </div>
            <!-- /.login-box-body -->
        </div>
      
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}