﻿@using BudgetPilot01.Models
@model BudgetPilot01.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="clearfix">



    <div class="register-box">
        <div class="register-logo">
            <a href="/"><b>Budget</b>Pilot</a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Register a new membership</p>



            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })


                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Nick, new { @class = "form-control", placeholder = "Your nick" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Your password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Retype password" })
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>


                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.StartingBudget, new { @class = "form-control", placeholder = "Enter your budget" })
                    <span class="fa fa-money form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    @Html.LabelFor(m => m.CurrencyIdentificator, new { @class = "control-label" })
                    <br />
                    @Html.DropDownListFor(model => model.CurrencyIdentificator, new SelectList(ViewBag.Currency, "Value", "Text"), new { @class = "form-control" })
                </div>



                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Register" />
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            }

            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <p>
                @Html.ActionLink("I already have a membership", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>

        </div>
        <!-- /.form-box -->
    </div>
</div>














@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
