{{>component-header}}
<section class="content-header">
    <h1>
        Transactions
        <small>for get focus on your cashflow</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Transactions</li>
    </ol>
</section>
<section class="content">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Filter</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="row">
                <div class="col-md-8">
                    <form>
                        <div class="form-group form-group-inline">
                            <label>From: </label>
                            <input type="text" class="form-control datepicker" name="fromDate" />
                        </div>
                        <div class="form-group form-group-inline">
                            <label>To: </label>
                            <input type="text" class="form-control datepicker" name="toDate" />
                        </div>
                        <div class="form-group form-group-inline">
                            <label>Category: </label>
                            <select name="category" class="form-control">
                                <option selected>--All--</option>
                                <option>Domacnost</option>
                                <option>Obleceni</option>
                            </select>
                        </div>
                        <div class="form-group form-group-inline">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 text-right">
                  
                    <p>
                        <a href="#transactionFormModal" class="btn btn-default m-r-10" data-toggle="modal"><i class="fa fa-plus-circle m-r-10" aria-hidden="true"></i> Add transaction</a>
                        <a href="#transactionPermanentFormModal" class="btn btn-default" data-toggle="modal"><i class="fa fa-plus-circle m-r-10" aria-hidden="true"></i> Add permanent transaction</a>
                    </p>
                </div>

            </div>
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:10px;">#</th>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Count</th>
                                    <th>Category</th>
                                    <th style="width:20%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{#transactions}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{date}}</td>
                                    <td>{{name}}</td>
                                    <td>{{count}}</td>
                                    <td>{{category}}</td>
                                    <td class="text-right">
                                        {{#permanent}}
                                        <a href="#transactionPermanentFormModal-edit-single" data-toggle="modal" class="btn btn-warning"><i class="fa fa-refresh" aria-hidden="true"></i> Permanent</a>
                                        {{/permanent}}
                                        <a href="#" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                        <a href="#" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                    </td>
                                </tr>
                                {{/transactions}}
                             
                           
                             
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="width:10px;">#</th>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Count</th>
                                    <th>Category</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
    
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>
{{> component-transaction-form}}
{{> component-transaction-permanent-form}}
{{> component-transaction-permanent-form(edit: true)}}
{{> component-transaction-permanent-form(edit: true, editSingle: true)}}

{{>component-footer}}
