﻿@using BudgetPilot01.Models
@model BudgetPilot01.Models.Message

@{
    ViewBag.Title = Model.Label;
}

<h2>@Model.Label</h2>

@if (Model.Type == MessageType.Positive)
{
    //positive class
    <p>@Model.Content</p>
}

else if (Model.Type == MessageType.Warning)
{
    //warning class
    <p>@Model.Content</p>
}
else if (Model.Type == MessageType.Negative)
{
    //negative class
    <p>@Model.Content</p>
}




