//Paths must be here - fix compile vars nested problem
@font-path: ~'../../fonts';
@img-path: ~'../img';
@composerPath: '../../vendor';
@nodePath: '../../node_modules';
@fontAwesomePath: "@{nodePath}/font-awesome/less";
@twbsPath: "@{nodePath}/bootstrap/less";


// - end paths

//Configuration  (mixins, bootstrap, variables, sprites...)
@import "site-conf"; //colors, sizes
@import "fonts/base";
//@import "bootstrap/base";


@import (less) "@{nodePath}/admin-lte/bootstrap/css/bootstrap.css";
@import (less) "@{nodePath}/admin-lte/dist/css/AdminLTE.css";
@import (less) "@{nodePath}/admin-lte/dist/css/skins/_all-skins.css";

@import (less) "@{nodePath}/admin-lte/plugins/datatables/dataTables.bootstrap.css";
@import (less) "@{nodePath}/admin-lte/plugins/datepicker/datepicker3.css";


@import "utils/mixins";
@import "global/form/form.less";
@import "global/form/icheck.less";
@import "global/indentation-helpers";

/*


//Global
@import "global/defaults";

//@import (inline) "global/sprites.css";
@import "global/image-icon";
@import "global/buttons";
@import "global/img";
@import "global/typography";
@import "global/wsw";
@import "global/layout";
@import "global/lists";
@import "global/backgrounds";
@import "global/icons-control";
@import "global/colors-control";
@import "global/table";
@import "global/width";

//helper
@import "global/indentation-helpers";


//load less from pattern
@import "../load";


.debug(@debug) when (@debug = true) {
	@import "dev";
}

.debug(@debug);
    */