@hp : "HP.jpg";

@tpl: @hp;

body {
	@media @fromTablet {
		&:after {
			background: url('@{img-path}/sample/dev/@{tpl}') no-repeat top center;		
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;	
			left: 0;
			z-index: -1;
			opacity: 0.8;
			min-height: 4000px;
		}
		min-height: 4000px;
		
		.main-menu,
		.header,
		.main-menu-sub-in,
		.slider-item,
		.nav-category-icons,
		.box,
		footer,
		.nav-cols-prefooter,
		.product-price-box,
		.box-service-tools,
		.basket-footer,
		.label-with-text,
		.has-bg{
			background: none !important;
		}
		
		//for footer off
		.nav-cols-prefooter,
		footer.footer-main,
		.footer-copy,
		.basket-footer,
		.basket-nav-btns {
			display:none;
		}
		/*
		debug submenu
		.main-menu-sub {
			display:block;
		}
		.main-menu-sub-in.pull-right {
			display:none;
		}
		*/
		
	}
}

//helpers
//none repeat scroll 0 0 rgba(255, 255, 255, 0.5)