a {
	//transition: color .3s linear;
}


.fly-to-bottom {
	position: absolute;
	z-index: 89;
	transition: transform .8s linear;
	&.flying {
		transition: transform 0.3s ease;	
	}
	&.flying-end {
		transform: scale(1.4);
	}
}