.bg-light-gray {
	background: #f3f3f3;
}
.bg-light-gray2 {
	background: #f5f5f5;
}
.bg-light-gray3 {
	background: #ebebeb;
}
.bg-light-gray4 {
	background: #f6f6f6;
}


.bg-gradient-dark-bottom () {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(1,1,1,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(1,1,1,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(1,1,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#010101',GradientType=0 );
}


.bg-light-white-alpha {
	background: rgba(255,255,255, 0.3);
}

.bg-white {
	background: #fff;
}