.btn-primary {
	font-weight: bold;
	border: none; //no borders in grafik..
}

@btn-secondary-color:             #fff;
@btn-secondary-bg:                #454545;
@btn-secondary-border:            transparent;

.btn-secondary,
a.btn-secondary {
	.button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
	color: @btn-secondary-color;
}
.btn {
	@media @onlyPhone {
		white-space: normal;
	}
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	cursor: inherit;
	display: block;
	z-index: 5;
}



//customs...
.btn-buy.btn-lg {
	font-size: 24px;
	font-weight: bold;
	&:before {
		margin-right: 10px;
		font-size: 30px;
		vertical-align: top;
	}
}

.btn-default {
	color: #565656;
	background: #ebebeb;
}

.btn-lg {
	@media @onlyPhone {
		white-space: normal;
	}
}

.nspace  {
	white-space: normal
}

////another btn colors
//used: http://blog.koalite.com/bbg/

.btn-gray-dark {
  color: #FFFFFF;
  background-color: #87888A;
  border-color: #666666;
  border: none;
}

.btn-gray-dark:hover,
.btn-gray-dark:focus,
.btn-gray-dark:active,
.btn-gray-dark.active,
.open .dropdown-toggle.btn-gray-dark {
  color: #FFFFFF;
  background-color: #5c5c5c;
  border-color: #666666;
}

.btn-gray-dark:active,
.btn-gray-dark.active,
.open .dropdown-toggle.btn-gray-dark {
  background-image: none;
}

.btn-gray-dark.disabled,
.btn-gray-dark[disabled],
fieldset[disabled] .btn-gray-dark,
.btn-gray-dark.disabled:hover,
.btn-gray-dark[disabled]:hover,
fieldset[disabled] .btn-gray-dark:hover,
.btn-gray-dark.disabled:focus,
.btn-gray-dark[disabled]:focus,
fieldset[disabled] .btn-gray-dark:focus,
.btn-gray-dark.disabled:active,
.btn-gray-dark[disabled]:active,
fieldset[disabled] .btn-gray-dark:active,
.btn-gray-dark.disabled.active,
.btn-gray-dark[disabled].active,
fieldset[disabled] .btn-gray-dark.active {
  background-color: #87888A;
  border-color: #666666;
}

.btn-gray-dark .badge {
  color: #87888A;
  background-color: #FFFFFF;
}
