///todo - create variables..

a[class*="text-"] {
	//color: inherit;
}

.bg-new {
	background-color: #e30000;
	color: #fff;
}
.text-new {
	color: #e30000;
}
.bg-sell {
	background-color: #9bbf0c;
	color: #fff;
}
.text-sell {
	color: #9bbf0c;
}
.bg-discount {
	background-color: @brand-primary;
	color: #fff;
}
.text-discount {
	color: @brand-primary;
}
.bg-gift {
	background-color: #00b0d6;
	color: #fff;
}
.text-gift {
	color: #00b0d6;
}
.text-blue {
	color: #009cbe;
}

.text-gray-light {
	color: #7a7a7a;
}
.bg-black {
	background: #000;
	color: #fff;
}


.text-orange2 {
	color: #b66300;
}
.bg-orange2 {
	background:  #b66300;
	color: #fff;
}

.text-gray {
	color: #858484;
}
.text-blue {
	color: #0b7ac0;
}
.text-red {
	color: #d61010;	
}
.text-orange {
	color: #f59d15;
}
.text-close {
    font-size: 20px;
    line-height: 1;	
    color: inherit;
    font-style: normal;
    font-weight: bold;
    opacity: 1;
	margin: 0 5px;
}

.text-danger {
	color: #d61010;	
}

//availability color?
/*
.text-in-stock {
	.text-success();
}
.text-no-stock {
	.text-danger();
}
*/

//for redenge colors...

/*
 - primarne pouziva komponenta .tags (viz. components/tags.less)
 - vzhledem k obecnosti class - nelze nechat samostatně (definuji background be vazby na color textu...)
- E20001 - výprodej
- F59D15 - hvězda ETA
- 82BF0C - pouze v eshopu

- 0C7DBF - oceněno
- B3CC00 - EKO produkt
- 664208 - novinka
- 1EB5D0 - vychytávka
- FF0000 - akce
nepouziva se - slouci se s "akce" - ? - 01BF99 - leták
- E30076 - dárek
*/
