body, h1, h2, h3, h4, h5, p, ul, ol, menu, li, table, td, th, form, iframe {
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
body {
	@media @onlyPhone {
		-webkit-text-size-adjust: none;
	}
}
.cf {
	&:extend(.clearfix all);
}



.v-sub {
	vertical-align: sub;
}

.center {
	margin: 0 auto;
}

.text-sm-right {
	@media @fromTablet {
		text-align: right;
	}
}
.xs-center {
	@media @toTablet {
		text-align: center;
	}
}

.inline {
	display: inline-block;
	vertical-align: middle;
}
a.xs-inb,
div.xs-inb,
.xs-inb {
	@media @toTablet {
		display: inline-block;
	}
}
.bold {
	font-weight: bold;
}

.rounded {
	border-radius: @border-radius-base;
}


.inline {
	display: inline-block;
	vertical-align: sub;
}
textarea {
	max-width: 100%;
	min-height: 150px;
}
ul {
	list-style:none;
	padding: 0;
	margin: 0;
	li {
		padding: 0;
	}
}
ul.list-default, div.list-default ul  {
	&:extend(.wsw ul all);
	li {
		display: block;
	}
	a {
		.black-link();
		font-weight: 300;
	}
}

dt {
	font-weight: bold;
	width: 40%;
}
dt, dd {
	border-top: @gray-light3;
	display: inline-block;
	letter-spacing: 0;
	margin: -1px 0 0;
	padding: 8px 0;
	vertical-align: top;
}





dl.standard {
	font-size: 0;
	letter-spacing: -1px;
	margin: 10px 0 15px;
	overflow: hidden;
	dt, dd {
		border-top: 1px solid @gray-light2;
		display: inline-block;
		font-size: 14px;
		letter-spacing: 0;
		margin: -1px 0 0;
		padding: 8px 0;
		vertical-align: top;
	}
	dt {
		font-weight: bold;
		width: 40%;
	}
	dd {
		font-weight: normal;
		text-align: right;
		width: 60%;
	}
}




.deco {
	text-decoration: underline;
	@media @fromDesktop {
		&:hover {
			text-decoration: none;
		}
	}
	&:before {
		text-decoration: none;
	}
}
.nodeco{text-decoration: none;}
.deco-hover {
	&:hover {
		text-decoration: underline;
	}
}
::-moz-focus-inner {
    border: 0;
    outline : 0;
}
a {
	outline: 0 none;
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}
iframe {
	margin-bottom: 20px;
}
.pull-sm-right {
	@media @fromTablet {
		float: right;
	}
}


@base-line-height: 34px;
@white: @brand-primary;

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.loader-on-element {
	position: relative;

	&:after,
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 15;
		background: #fff;
		opacity: 0.8;
		z-index: 8;
	}
	&:before {
		content: "";
		text-align: center;
		top: 50%;
		left: 50%;
		margin-left: -24px;
		margin-top: -22px;
		border-radius: 50%;
		width: @base-line-height;
		height: @base-line-height;
		border: 5px solid #d2d2d2;
		border-top-color: @white;
		animation: spinner 1s infinite linear;
		z-index: 9;
	}
}




//responsive!!!
@mobilePadd: 20px;
//mobile padding columns!!!
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	@media @toTablet {
		padding: 0 @mobilePadd;
	}
}
.container, .container-fluid {
	@media @toTablet {
		padding: 0 @mobilePadd;
	}
}
.row {
	@media @toTablet {
		margin-left: -@mobilePadd;
		margin-right: -@mobilePadd;
	}
}

