[data-icon]:before {
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  text-decoration: none;
}

.i-fix {
	i {
		position: absolute;
	}
	
	&.i-l {
		i {
			left: 0;
		}
	}
}

.icon-right,
.icon-left,
.i-r,
.i-l {
	display: inline-block;
	position: relative;
	&:before {
		position :absolute;
		text-decoration: none;
		top: 50%;
		margin-top: -5px;
		font-size: 70%;
	}
}
.icon-right,
.i-r {
	padding-right: 15px;
	&:before {
		right: 0;
	}
}

.icon-left,
.i-l {
	padding-left: 15px;
	&:before {
		left: 0;
	}	
}


//set icon size
.i-10 {
	> i:before ,	
	&:before {
		font-size: 15px;
		margin-top: -8px;
		margin-left: -2px;
	}
}
.i-25 {
	padding-left: 30px;
	> i:before ,
	&:before {
		position: absolute;
		top: -3px;		
		font-size: 25px;
		margin-left: 0;
	}
}


.btn-lg.i-l {
	padding-left: 50px;
	&:before {
		font-size: 30px;
		left: 10px !important;
		margin-top: -14px;
		position: absolute;
		top: 50%;		
	}
}

/*
.deco-w-icon {
	text-decoration: underline;
	position: relative;
	padding-right: 20px;
	&:before {
		position: absolute;
		right: 3px;
		top: 3px;
		font-size: 70%;
	}
}

*/

.icon-red {
	&:before {
		color: #ea4b39;
	}
}

.file {
	
	.i-l();
	.deco();
	font-weight: 500;
	padding-left: 30px;
	&:before {
		font-size: 20px;
		margin-left: 0;
		margin-top: -10px;		
	}
	&.is-pdf {
		&:before {
			color: red;
		}
	}
}