[class^="eimg-"],
[class*=" eimg-"] {
	display:inline-block;
    transform: translate(0px, 0px);
	&:before {
		display: inline-block;
		content:"";
		vertical-align: middle;
	}
}

.eimg-club:before {
	background: url('@{img-path}/ei-club.png');
	width: 40px;
	height: 39px;	
}


