//maybe less generate forcycle..

.no-padding,
div.no-padding {
	padding: 0;
}

div.no-margin,
.no-margin {
	margin: 0 !important;
}

//Padding all
div.p-15,
.p-15 {
	padding: 15px;
}



.m-x {
	margin: 0 15px;
}

//Margin on top
.m-t-10 {
	margin-top: 10px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-y-20 {
	margin: 20px 0;
}

//Margin on bottom
.m-b-10 {
	margin-bottom: 10px;
}

//Margin on right

.m-r-10 {
	margin-right: 10px;
}

//Margin just: y
//margin-topo ypsilon: 20px 0 ///
.m-t-y-20 {
	margin: 20px 0;
}
//Margin on right
.m-r-10 {
	margin-right: 10px;
}

//Margin on left
.m-left {
	margin-left: 20px;
}
.m-l-10 {
	margin-left: 10px;
}
.m-l-20 {
	margin-left: 20px;
}


///pading
.p-20 {
	padding: 20px;
}
.padding-gutter {
	padding: 15px;
}
.padding-gutter2 {
	padding: 15px/2;
}
.padding-gutter-x {
	padding: 0 15px;
}
.padding-gutter2-x {
	padding: 0 15px/2;
}