body {
	/*
	@media @fromTablet {
		background-image: url('@{img-path}/eta-bg-pattern.png');
	}*/
}
.content-heading {
	padding: 0 @grid-gutter-width;
	margin-bottom: 15px;
	h1 {
		margin: 20px 0px 10px;
		@media @fromTablet {
			margin: 32px 0 20px;
		}
	}

}

.main-content {
	.tab-content {
		.product-list {
			margin-top: 29px;
		}
	}
	&.has-side-banners {
		position: relative;
	}
}


//fix jumping lg screen
@media @fromTablet {
	.container {
		width: auto;
		max-width:  @container-sm;
	}
}
@media @fromDesktop {
	.container {
		width: auto;
		max-width:  @container-md;
	}
}

@media @fromDesktopLg {
	.container {
		width: auto;
		max-width: @container-lg;
	}
}

.row.coll-padding-half,
.coll-padding-half {
    margin-left: -(@grid-gutter-width/2)/2;
    margin-right: -(@grid-gutter-width/2)/2;
	[class*="col-"] {
		padding: 0 (@grid-gutter-width/2)/2;
	}
}


.cols-xs-indentation {
	@media @toTablet {
		> [class*="col-"] {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.page-content-full {
	.page-content {
		> .container {
			width: 100%;
			max-width: none;
			padding: 0;
		}
	}
}

///todo - osamostatnit..
.partners-logo-list  {
	margin: 40px 0;
	a {
		display: block;
		height: 200px;
		padding: 20px;
		line-height: 162px;
		border: 1px solid #D9DCE0;
		margin: 15px 0;
		transition: all .3s;
		position: relative;
		overflow: hidden;
		text-align: center;
		&:after {
			content: attr(title);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			color: #fff;
			text-align: center;
			font-size: 20px;
			font-weight: 500;
			z-index: -1;
			background: #fff;
			visibility: hidden;
			margin-top: 200px;
			transition: all .3s;
		}
		img {
			max-width: 200px;
		}

		&:hover {
			border-color: @brand-primary;
			@media @fromDesktop {
				&:after {
					z-index: 9;
					background: @brand-primary;
					visibility: visible;
					margin-top: 0;
				}

			}

		}

	}
}