.list-places {
	li {
		padding-left: 20px;
		position: relative;
		&:before {
			color: @link-color;
			position: absolute;
			left: 0;
			top: 2px;
			content: @fa-var-map-marker;
			.awesomeFa();
		}
	}

}

.product-list {
	margin-top: 42px;
	.box-product {
		margin-top: 0;
	}
	@media @fromDesktopLg {
		&.lg-5 {
			> [class*="col-"]{
				max-width: 20%;
			}
		}
	}

	&.favorite-products {
		margin-top: @grid-gutter-width;
	}

}

.box-list {
	margin-top: 29px;
	.box {
		margin-top: 0;
	}
}


///clears for listing...
[class*="list"] {


	//md-3
	@media @fromDesktop {
		.col-md-3:nth-child(4n+1) {
			clear: both;
		}
	}
	//reset md clear
	@media @fromDesktopLg {
		[class*="-lg"].col-md-3:nth-child(4n+1) {
			clear: none;
		}
	}

	//sm-6
	@media @fromTablet {
		.col-sm-6:nth-child(2n+1) {
			clear: both;
		}
	}
	@media @fromDesktop {
		[class*="-md"].col-sm-6:nth-child(2n+1) {
			clear: none;
		}
	}
	@media @fromDesktopLg {
		[class*="-lg"].col-sm-6:nth-child(2n+1) {
			clear: none;
		}
	}

	//sm-4
	@media @fromTablet {
		.col-sm-4:nth-child(3n+1) {
			clear: both;
		}
	}
	@media @fromDesktop {
		[class*="-md"].col-sm-4:nth-child(3n+1) {
			clear: none;
		}
	}
	@media @fromDesktopLg {
		[class*="-lg"].col-sm-4:nth-child(3n+1) {
			clear: none;
		}
	}

	//md-4
	@media @fromDesktop {
		.col-md-4:nth-child(3n+1) {
			clear: both;
		}
	}
	@media @fromDesktopLg {
		[class*="-lg"].col-md-4:nth-child(3n+1) {
			clear: none;
		}
	}

	//lg-4
	@media @fromDesktopLg {
		.col-lg-4:nth-child(3n+1) {
			clear: both;
		}
	}

	//lg-4
	@media @fromDesktopLg {
		.col-lg-3:nth-child(4n+1) {
			clear: both;
		}
	}


	//lg-3
	@media @fromDesktopLg {
		.col-lg-3:nth-child(4n+1),
		.col-sm-6.col-lg-3:nth-child(4n+1) {
			clear: both;
		}
	}
}

.box-list {
	@media @fromDesktop {
		.col-sm-6.col-md-4:nth-child(3n+1) {
			clear: both;
		}
	}
}

.panel-collapse {
	.product-list {
		margin-top: 0;
	}
}
