/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-auto {
  background-image: url(../img/sprite.png);
  background-position: -2590px 0px;
  width: 512px;
  height: 512px;
}
.icon-bubliny_dotaz {
  background-image: url(../img/sprite.png);
  background-position: -1294px -2567px;
  width: 128px;
  height: 128px;
}
.icon-bus {
  background-image: url(../img/sprite.png);
  background-position: 0px -519px;
  width: 512px;
  height: 512px;
}
.icon-cart {
  background-image: url(../img/sprite.png);
  background-position: -512px -519px;
  width: 512px;
  height: 512px;
}
.icon-doprava_truck {
  background-image: url(../img/sprite.png);
  background-position: -1550px -2567px;
  width: 128px;
  height: 128px;
}
.icon-doruceni {
  background-image: url(../img/sprite.png);
  background-position: -1720px -2647px;
  width: 32px;
  height: 32px;
}
.icon-energeticky-stitek {
  background-image: url(../img/sprite.png);
  background-position: 0px -1031px;
  width: 512px;
  height: 512px;
}
.icon-eta-chytra {
  background-image: url(../img/sprite.png);
  background-position: 0px -2567px;
  width: 384px;
  height: 384px;
}
.icon-eta-design {
  background-image: url(../img/sprite.png);
  background-position: -1024px -1031px;
  width: 512px;
  height: 512px;
}
.icon-eta-fen {
  background-image: url(../img/sprite.png);
  background-position: -1943px -2567px;
  width: 57px;
  height: 56px;
}
.icon-eta-kvalita {
  background-image: url(../img/sprite.png);
  background-position: -731px -2567px;
  width: 283px;
  height: 283px;
}
.icon-eta-nahradni-dily {
  background-image: url(../img/sprite.png);
  background-position: -1566px -1024px;
  width: 512px;
  height: 512px;
}
.icon-eta-pecenka {
  background-image: url(../img/sprite.png);
  background-position: -2303px -2567px;
  width: 37px;
  height: 30px;
}
.icon-eta-robot {
  background-image: url(../img/sprite.png);
  background-position: -2188px -2567px;
  width: 43px;
  height: 42px;
}
.icon-eta-tradice {
  background-image: url(../img/sprite.png);
  background-position: -1678px -2647px;
  width: 42px;
  height: 43px;
}
.icon-eta-vysavac {
  background-image: url(../img/sprite.png);
  background-position: -2146px -2567px;
  width: 42px;
  height: 43px;
}
.icon-eta-zehlicka {
  background-image: url(../img/sprite.png);
  background-position: -2000px -2567px;
  width: 58px;
  height: 45px;
}
.icon-home {
  background-image: url(../img/sprite.png);
  background-position: -2078px -512px;
  width: 512px;
  height: 512px;
}
.icon-hotovost {
  background-image: url(../img/sprite.png);
  background-position: -2078px -1024px;
  width: 512px;
  height: 512px;
}
.icon-info {
  background-image: url(../img/sprite.png);
  background-position: -2078px -1536px;
  width: 512px;
  height: 512px;
}
.icon-input-full-ok {
  background-image: url(../img/sprite.png);
  background-position: -1822px -2567px;
  width: 64px;
  height: 64px;
}
.icon-klient-hlidani {
  background-image: url(../img/sprite.png);
  background-position: -1014px -2567px;
  width: 140px;
  height: 133px;
}
.icon-klient-hvezda {
  background-image: url(../img/sprite.png);
  background-position: -1024px -2055px;
  width: 512px;
  height: 512px;
}
.icon-klient-objednavky {
  background-image: url(../img/sprite.png);
  background-position: -1536px -2055px;
  width: 512px;
  height: 512px;
}
.icon-klient-srdce {
  background-image: url(../img/sprite.png);
  background-position: -2048px -2055px;
  width: 512px;
  height: 512px;
}
.icon-mail_contact {
  background-image: url(../img/sprite.png);
  background-position: -1024px -519px;
  width: 16px;
  height: 16px;
}
.icon-mapa-bod {
  background-image: url(../img/sprite.png);
  background-position: -2590px -512px;
  width: 512px;
  height: 512px;
}
.icon-nahradni-dily {
  background-image: url(../img/sprite.png);
  background-position: -542px 0px;
  width: 512px;
  height: 512px;
}
.icon-napoveda {
  background-image: url(../img/sprite.png);
  background-position: -2590px -1536px;
  width: 512px;
  height: 512px;
}
.icon-oblibene {
  background-image: url(../img/sprite.png);
  background-position: -2590px -1024px;
  width: 512px;
  height: 512px;
}
.icon-ok {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 542px;
  height: 519px;
}
.icon-parking {
  background-image: url(../img/sprite.png);
  background-position: -512px -2055px;
  width: 512px;
  height: 512px;
}
.icon-pdf {
  background-image: url(../img/sprite.png);
  background-position: 0px -2055px;
  width: 512px;
  height: 512px;
}
.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -1678px -2567px;
  width: 80px;
  height: 80px;
}
.icon-porovnavac-vahy {
  background-image: url(../img/sprite.png);
  background-position: -2078px 0px;
  width: 512px;
  height: 512px;
}
.icon-porovnavac {
  background-image: url(../img/sprite.png);
  background-position: -1536px -1543px;
  width: 512px;
  height: 512px;
}
.icon-postovni_dopis {
  background-image: url(../img/sprite.png);
  background-position: -1422px -2567px;
  width: 128px;
  height: 128px;
}
.icon-poznamky {
  background-image: url(../img/sprite.png);
  background-position: -1024px -1543px;
  width: 512px;
  height: 512px;
}
.icon-prevod {
  background-image: url(../img/sprite.png);
  background-position: -1886px -2567px;
  width: 57px;
  height: 57px;
}
.icon-procenta {
  background-image: url(../img/sprite.png);
  background-position: -512px -1543px;
  width: 512px;
  height: 512px;
}
.icon-prohlizeni {
  background-image: url(../img/sprite.png);
  background-position: 0px -1543px;
  width: 512px;
  height: 512px;
}
.icon-radio-full-ok {
  background-image: url(../img/sprite.png);
  background-position: -1758px -2567px;
  width: 64px;
  height: 64px;
}
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -1154px -2567px;
  width: 140px;
  height: 133px;
}
.icon-social-fb {
  background-image: url(../img/sprite.png);
  background-position: -2102px -2567px;
  width: 44px;
  height: 44px;
}
.icon-social-yt {
  background-image: url(../img/sprite.png);
  background-position: -2058px -2567px;
  width: 44px;
  height: 44px;
}
.icon-splatky {
  background-image: url(../img/sprite.png);
  background-position: -1566px -512px;
  width: 512px;
  height: 512px;
}
.icon-star {
  background-image: url(../img/sprite.png);
  background-position: -384px -2567px;
  width: 347px;
  height: 332px;
}
.icon-stitek {
  background-image: url(../img/sprite.png);
  background-position: -2231px -2567px;
  width: 36px;
  height: 36px;
}
.icon-taska {
  background-image: url(../img/sprite.png);
  background-position: -1566px 0px;
  width: 512px;
  height: 512px;
}
.icon-telefon-bublina {
  background-image: url(../img/sprite.png);
  background-position: -2267px -2567px;
  width: 36px;
  height: 36px;
}
.icon-time {
  background-image: url(../img/sprite.png);
  background-position: -512px -1031px;
  width: 512px;
  height: 512px;
}
.icon-tiskarna {
  background-image: url(../img/sprite.png);
  background-position: -1054px -512px;
  width: 512px;
  height: 512px;
}
.icon-vlak {
  background-image: url(../img/sprite.png);
  background-position: -1054px 0px;
  width: 512px;
  height: 512px;
}
.icon-vzdalenost {
  background-image: url(../img/sprite.png);
  background-position: -2590px -2048px;
  width: 512px;
  height: 512px;
}
