.table {	
	table-layout: fixed;
	.table-row {
		display: table-row;
	}
	.cell {
		display: block;
		margin: 15px 0;
		word-wrap: break-word;
	}
	@media @fromTablet {
		display:table;
		.cell {
			margin: 0;
			display: table-cell;
		}
	}
	
}


//bootstrap grid to table-cell
//.row.is-grid-cell
.row.is-grid-cell {
	
	margin-left: 0;
	margin-right: 0;
	@media @fromTablet {
	display: table;	
	
	> [class*="col-"] {
		display: table-cell;
		float:none;
		&:first-child {
			padding-left: 0;
		}
	}
	&.is-default{
		> [class*="col-"]  {
			padding: 2px 20px 2px 0;
			& + [class*="col-"] {
				padding: 2px 20px 2px 20px;
			}
			&:last-child {
				padding-right: 0;
			}
		}

	}
	
	//vertical position!
	&.is-cell-middle {
		> [class*="col-"]  {
			vertical-align: middle;
		}
	}
}

	@media @toTablet {
		> [class*="col-"] {
			display: block;
			margin: 20px 0;
			text-align: center;
		}
	}	

}


.table {
	&.is-cell-middle {
		.cell,
		tr > td {
			vertical-align: middle;
		}
	}
}


//Customs table.. tpl
.table-tpl1 {
	.btn {
		width: 110px;
	}
}
.table-tpl2 {
	thead {
		color: #959595;
		font-size: 16px;
	}
	td {
		font-weight: 300;
		border-color: @gray-light2;
	}
	thead > tr > th, 
	tbody > tr > th, 
	tfoot > tr > th, 
	thead > tr > td, 
	tbody > tr > td, 
	tfoot > tr > td {
		padding: 10px;
		&:first-child {
			padding-left: 0;
		}
	}
	a {
		.black-link();
		.deco();
	}
}


///responsive table!
/* todo: spise se bude resit pres ovrescroll*/
@media @toTablet {

	table:not(.table-condensed) {
		th {
			text-align: center;
			display: block !important;
		}
		td {
			text-align: center;
			width: 100%;
			display: block !important;
			border: none !important;
			padding: 5px !important;
			&:first-child {				
				border-top: 1px solid @gray-light2 !important;
				padding-top: 18px !important;				
			}
			&:last-child {
				border-width: 0 0 0 1px  !important;
				padding-bottom: 18px !important;			
			}			
		}
	}
}
