h1{
	font-weight: 300;
	font-size: 36/@em;
	small {
		color: #909090;
	}
}

.h1 {
	&:extend(h1 all);

}

//font-size
.f-22 {
	font-size: 22px;
}
.f-20 {
	font-size: 20px;
}
.f-18 {
	font-size: 18px;
}
.f-17 {
	font-size: 17px;
}
.f-16 {
	font-size: 16px;
}
.f-13 {
	font-size: 16px;
}
.f-13 {
	font-size: 13px;
}



//title components..
.section-title {
	font-size: 24/@em;
	color: #ffa02f;
    font-weight: bold;
    margin-top: 26/24em;
	text-transform: uppercase;
	.pull-sm-right {
		@media @toTablet {
			display: block;
		}
	}
}
.section-more {
	color: #000;
	font-weight: 300;
	text-decoration: underline;
	font-size: 16px;
	&:hover {
		//color: @link-color;
		text-decoration: none;
	}
	&.pull-right {
		margin-right: 15px;
	}

}

.title-extra {
	font-weight: 800;
	color: @primary-color;
	font-size: 60px;
}

.component-title {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 10px;
}

.font-extralight {font-weight: 200;}
.font-semi {font-weight: 500;}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

//link styles
a.black-link,
.black-link {
	color: #000;
	.deco();
}

a.blue-link,
.blue-link{
	color: #18a2b7;
	.deco();
}

.extra-link {
	font-size: 18px;
	font-weight: 300;
	color: #f59d15;
}
.ligtht-italic {
	color: @gray;
	font-style: italic;
	font-weight: 300;
}

.sub-light {
	font-size: 20px;
	font-weight: 300;
	color: #87888a;
}

a.delete-link,
.delete-link {
	position: relative;
	padding-left: 20px;
	font-weight: bold;
	.deco();
	color: @brand-danger;
	&:before {
		content: "×";
		font-size: 20px;
		left: 2px;
		position: absolute;
		top: -5px;
	}
}

.edit {
	position: relative;
	padding-left: 20px;
	font-weight: bold;
}