.max-w-300 {
	max-width: 300px;
}
.max-w-800 {
	max-width: 800px;
}
.max-w-580 {
	max-width: 580px;
}
.max-w-md-min {
	max-width: @screen-md-min;
}
.w-6 {
	width: 50%;
}
.w-8 {
	width: 66.6667%;
}
.min-h-40-screen {
	min-height: calc(40vh);
}
.w100per {
	width: 100%;
}


.w-50px {
	width: 50px;
}
.w-110px {
	width: 100px;
}
.w-200px {
	width: 200px;
}
.w-sm-270 {
	@media @fromTablet {
		width: 270px;
	}	
}
.w-sm-75per {
	@media @fromTablet {
		width: 75%;
	}	
}
.w-sm-50per {
	@media @fromTablet {
		width: 50%;
	}	
}