.wsw {
	&:extend(.clearfix all);
	margin-top: 15px/@em;
	margin-bottom: 15px/@em;
	color: #605d58;
	line-height: 1.6;
	a {
		.deco(); //all links are deco!
		color: #008db2;
	}
	p {
		margin: 10px 0;
		@media @fromTablet {
			margin: 20px 0;
		}
	}
	//fix..
	> p:first-child {
		margin-top: 0;
	}
	img {
		border-radius: 5px;
	}
	h2 {
		font-size: 24px;
		color: @primary-color;
		margin-bottom: 22px;
		font-weight: normal;
		margin-top: 48px;
	}
	h3 {
		font-size: 18px;
		font-weight: 500;
		color: @primary-color;
		margin-bottom: 22px;
	}
	ul {
		li {
			padding-left: 20px;
			position: relative;
			margin-bottom: 5px;
			&:before {
				position :absolute;
				left: 0;
				top: 0;
				content: ">";
				color: @link-color;
			}
		}
	}

	blockquote {
		background: #faca80;
		border-left: 10px solid @brand-primary;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		font-size: 16px;
		color: #000;
		quotes: "\201C""\201D""\2018""\2019";
	}
	blockquote:before {
		color: #000;
		content: open-quote;
		font-size: 3em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}
	blockquote p {
		display: inline;
	}

	&.is-light-font {
		font-weight: 300;
	}

	//some img aligns
	img.pull-right {
		margin: 0 0 20px 20px;
	}
	img.pull-left {
		margin: 0 20px 20px 0;
	}
	.pull-right,
	.pull-left {
		@media @toTablet {
			float:none !important;
			display: block;
			margin: 20px auto 20px !important;
		}
	}

	//components in wsw

	iframe {
		margin: 20px 0;
	}


	///table in .wsw
	table {
		.table();
		.table-striped();
		table-layout: auto;
		text-align: left;
		thead {
			background: @primary-color;
			color: #fff;
			td,th{
				font-weight: bold;
			}
		}
		> thead > tr > th,
		> tbody > tr > th,
		> tbody > tr > td {
			padding: 9px 15px;
		}
		> tbody > tr > td {
			font-weight: 300;
		}
		a {
			.black-link();
		}
	}

}

.wsw-center-lg {
	font-size: 16px;
	font-weight: 300;
	max-width: 800px;
	margin: 40px auto;
	text-align: center;
}