﻿@{
    ViewBag.Title = "About app";
}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border"><h3 class="box-title">@ViewBag.Title</h3></div>
                <div class="box-body">

                    <p>
                        This application was created for all who want to have summary of their output and incomes, follow their cashflows.
                    </p>
                    <p>
                        Application allows you to add standard and permanent transactions, check your budget and have good insight on you finances. 
                        Store you payments and salary and have better overview of everything you need about your money.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>