﻿@{
    ViewBag.Title = "Contact";
}


<section class="content">

    <div class="box box-default">
        <div class="box-header with-border"><h3 class="box-title">@ViewBag.Title</h3></div>
        <div class="box-body">
            <p></p>
            <address>
                Lukáš Bareš<br />
                <a href="mailto:bares69@gmail.com">bares69@gmail.com</a>
            </address>

            <address>
                Marie Vinopal Boštíková<br />
                <a href="mailto:marie.vinopal@gmail.com">marie.vinopal@gmail.com</a>
            </address>

        </div>
    </div>


</section>