﻿@{
    ViewBag.Title = "Home Page";
}

<section class="content">
    <div class="jumbotron text-center">

        <h1><b>Budget</b>Pilot 2017</h1>

        <div class="container">

            <p class="lead">BudgetPilot 2017 is best app for control your month money budget.</p>
            <p><a href="@Url.Action("Register", "Account")" class="btn bg-yellow btn-lg">Sign up &raquo;</a> <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Sign in &raquo;</a></p>

            <p></p>

            <div class="row">
                <div class="col-md-4">
                    <h2>Standard transactions</h2>
                    <p>
                        Store all your cashflows - online, offline payments. No difficult settings.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Permanant Transactions</h2>
                    <p>Easy to add permanent transactions - rent, phone and other permanent bills or income (salary).</p>
                </div>
                <div class="col-md-4">
                    <h2>Statistics and analyzing</h2>
                    <p>You can easily find current cashflow status for current month.</p>
                </div>
            </div>
        </div>

</div>


</section>