.awesomeFa () {
	display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    transform: translate(0px, 0px);
}
.img-scale-hover (){
	overflow: hidden;
	img {
		transition: transform .3s linear;
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}
